{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>     
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Symbol</th>
        </tr>
        </thead>
        <tbody>
        <tr>    
            <td>{{data_dict.name}}</td>
            <td>{{data_dict.price | usd}}</td>
            <td>{{data_dict.symbol}}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
